<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template - tagged template literals</title>
  </head>
  <body>
    <div class="container"></div>

    <script>
      // 설명: 템플릿 구문은 아래와 같이 있는 그대로 쓰지 않음
      //  const template = `<span>${data[0].name}: ${data[0].comment}</span>`
      //  그래서 조작을 할 필요가 있는데 함수에서 어떤 처리를 한 다음에 결과값을 반환하도록 하는 패턴이 좋음
      //  템플릿 상황에 따라 조건문이나 반복문을 처리하여 중복을 줄이는 때가 있음

      const data = [
        {
          id: 1,
          name: 'wang',
          // comment:
          //   'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea, totam.',
        },
        {
          id: 2,
          name: 'bob',
          comment: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
        },
      ]

      function fn(tags, name, comment) {
        if (typeof comment === 'undefined') {
          comment = '<small>코멘트가 없습니다.</small>'
        }

        return tags[0] + name + tags[1] + comment + tags[2]
      }

      data.forEach(v => {
        const template = fn`<span>${v.name}: ${v.comment}</span><br />`
        console.log(template)

        document.querySelector('.container').innerHTML += template
      })
    </script>
  </body>
</html>
