:root {
  /* app colors */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-orange);
  --color-text: var(--color-white);

  /* colors */
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Dongle', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  font-family: inherit;
  background-color: transparent;
  outline: none;
  border: none;
}

button:hover {
  outline: 1px solid var(--color-accent);
}

/* Common */
section {
  padding: 4rem;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

section h2,
footer h2 {
  font-size: 2.5rem;
}

section p,
footer p {
  font-size: 2rem;
}

#home,
footer {
  background-color: var(--color-primary);
  color: var(--color-text);
  text-align: center;
  max-width: unset;
}

/* Header */
header {
  background-color: var(--color-primary);
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  /* z-index: 1000; :navigation bar visibility problem due to filter: brightness(180%) and z-index layering */
  z-index: 1000;
}

/* if performance is considered, use 'header__logo' */
header .logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

header .logo img {
  width: 36px;
  height: 36px;
}

header .logo h1 {
  font-size: 3rem;
}

header nav .menu {
  display: flex;
  gap: 24px;
}

header nav .menu li {
  font-size: 1.5rem;
}

header nav .menu li:hover {
  border-bottom: 2px solid var(--color-accent);
  transition: border-bottom 200ms ease;
}

header nav .menu li.active {
  border-bottom: 2px solid var(--color-accent);
}

/* Main */

/* Main - Home */
#home {
  padding: 5rem 0;
}

#home img {
  width: 500px;
  height: 500px;
  /* object-fit: cover; :resize and crop an image or video to fill its container while maintaining its aspect ratio. */
  object-fit: cover;
  border: 5px solid var(--color-accent);
  border-radius: 100%;
}

#home h2 strong {
  color: var(--color-accent);
}

#home a[href='#contact'] {
  display: inline-block;
  padding: 0.3rem 1rem;
  margin-top: 1rem;
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-radius: 2px;
  font-size: 1.5rem;
  font-weight: bolder;
  transition: all 250ms ease;
}

#home a[href='#contact']:hover {
  background-color: transparent;
  outline: 2px solid var(--color-accent);
  color: var(--color-accent-variant);
}

/* Main - About */
#about .majors {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 2rem 0;
}

#about .majors li {
  background-color: var(--color-primary-variant);
  padding: 2rem 1rem;
  color: var(--color-text);
  border-radius: 0.4rem;
  flex: 1;
  cursor: default;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
}

#about .majors li:hover i {
  transform: rotate(15deg) scale(1.2);
}

#about .majors li i {
  font-size: 4rem;
  color: var(--color-accent);
  transition: transform 300ms ease;
}

#about .majors li p:nth-child(2) {
  font-size: 2.5rem;
  font-weight: bolder;
}

#about .jobs {
  text-align: start;
}

#about .jobs li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 0.8rem;
}

#about .jobs li p {
  color: var(--color-primary);
}

#about .jobs li p:last-child {
  font-size: 1.2rem;
}

/* Main - Skill */
#skill {
  background-color: var(--color-primary-variant);
  color: var(--color-text);
  max-width: unset;
}

#skill .skills {
  display: grid;
  grid-template-columns: 6fr 4fr;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.38);
}

#skill .skills article {
  padding: 1rem 2rem;
  background-color: var(--color-primary);
}

#skill .skills article:first-child {
  grid-row: span 2;
}

#skill .skills article:nth-child(2) {
  filter: brightness(180%);
}

#skill .skills article:nth-child(3) {
  filter: brightness(150%);
}

#skill .skills article h3 {
  color: var(--color-accent);
  font-size: 1.5rem;
}

#skill .skills article li {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

#skill .skills article:first-child li {
  padding: 1.5rem 0;
}

#skill .skills article:not(:first-child) li {
  padding: 0.8rem 0;
}

#skill .skills article li div:first-child {
  display: flex;
  justify-content: space-between;
}

#skill .skills article li div:last-child {
  width: 100%;
  height: 3px;
  background-color: var(--color-primary-variant);
}

#skill .skills article li div:last-child div {
  background-color: var(--color-accent);
}

/* Main - Work */
#work {
  background-color: var(--color-primary);
  max-width: unset;
  color: var(--color-text);
}

#work .categories {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

#work .categories li {
  position: relative;
}

#work .categories li button {
  color: var(--color-text);
  padding: 0.2rem 3rem;
  font-size: 1.5rem;
  border: 2px solid var(--color-accent);
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}

#work .categories li button.selected {
  background-color: var(--color-accent);
  color: var(--color-primary);
}

#work .categories li span {
  position: absolute;
  top: -15px;
  right: 10px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  background-color: var(--color-accent-variant);
  border-radius: 100%;
  color: var(--color-text);
  opacity: 0;
  transition: all 200ms ease;
}

#work .categories li button.selected span,
#work .categories li:hover span {
  opacity: 1;
  top: 8px;
}

#work .projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  border-radius: 4px;
  overflow: hidden;
}

#work .projects li {
  position: relative;
}

#work .projects img {
  width: 100%;
}

#work .projects div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  opacity: 0;
  transform: translateY(-20px);
  transition: all 250ms ease;
}

#work .projects div:hover {
  opacity: 0.8;
  transform: translateY(0px);
}

#work .projects div h3::after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  width: 60px;
  height: 2px;
  background-color: var(--color-accent);
  transform: translateX(-50%);
}

/* Main - Testimonial */
#testimonial .testimonials {
  margin: 3rem 0;
}

#testimonial .testimonials li {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

#testimonial .testimonials li img {
  border-radius: 100%;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
}

#testimonial .testimonials li:nth-child(even) img {
  order: 1;
}

#testimonial .testimonials div {
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.38);
}

#testimonial .testimonials div a {
  color: var(--color-accent);
}

/* Footer */
#contact .links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 3rem;
}

#contact .links li a {
  transition: color 200ms ease;
}

#contact .links li a:hover {
  color: var(--color-accent);
}
