:root {
  /* app colors */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-orange);
  --color-text: var(--color-white);

  /* colors */
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Dongle', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  font-family: inherit;
  background-color: transparent;
  outline: none;
  border: none;
}

button:hover {
  outline: 1px solid var(--color-accent);
}

/* Common */
section {
  padding: 4rem;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

section h2 {
  font-size: 2.5rem;
}

section p {
  font-size: 2rem;
}

/* Header */
header {
  background-color: var(--color-primary);
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  /* z-index: 1000; :navigation bar visibility problem due to filter: brightness(180%) and z-index layering */
  z-index: 1000;
}

/* if performance is considered, use 'header__logo' */
header .logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

header .logo img {
  width: 36px;
  height: 36px;
}

header .logo h1 {
  font-size: 3rem;
}

header nav .menu {
  display: flex;
  gap: 24px;
}

header nav .menu li {
  font-size: 1.5rem;
}

header nav .menu li:hover {
  border-bottom: 1px solid var(--color-accent);
}

header nav .menu li.active {
  border-bottom: 1px solid var(--color-accent);
}

/* Main */

/* Main - home */
#home {
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 5rem 0;
  text-align: center;
  max-width: unset;
}

#home img {
  width: 500px;
  height: 500px;
  /* object-fit: cover; :resize and crop an image or video to fill its container while maintaining its aspect ratio. */
  object-fit: cover;
  border: 1px solid var(--color-accent);
  border-radius: 100%;
}

#home h2 strong {
  color: var(--color-accent);
}

#home a[href='#contact'] {
  display: inline-block;
  padding: 0.3rem 1rem;
  margin-top: 1rem;
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-radius: 2px;
  font-weight: bolder;
  transition: all 250ms ease;
}

#home a[href='#contact']:hover {
  background-color: transparent;
  outline: 1px solid var(--color-accent);
  color: var(--color-accent-variant);
}

/* Main - About */
#about .majors {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 2rem 0;
}

#about .majors li {
  background-color: var(--color-primary-variant);
  padding: 2rem 1rem;
  color: var(--color-text);
  border-radius: 0.4rem;
  flex: 1;
  cursor: default;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
}

#about .majors li:hover i {
  transform: rotate(15deg) scale(1.2);
}

#about .majors li i {
  font-size: 4rem;
  color: var(--color-accent);
  transition: transform 300ms ease;
}

#about .majors li p:nth-child(2) {
  font-size: 2.5rem;
  font-weight: bolder;
}

#about .jobs {
  text-align: start;
}

#about .jobs li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 0.8rem;
}

#about .jobs li p {
  color: var(--color-primary);
}

#about .jobs li p:last-child {
  font-size: 1.2rem;
}

/* Main - Skill */
#skill {
  background-color: var(--color-primary-variant);
  color: var(--color-text);
  max-width: unset;
}

#skill .skills {
  display: grid;
  grid-template-columns: 6fr 4fr;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.38);
}

#skill .skills article {
  padding: 1rem 2rem;
  background-color: var(--color-primary);
}

#skill .skills article:first-child {
  grid-row: span 2;
}

#skill .skills article:nth-child(2) {
  filter: brightness(180%);
}

#skill .skills article:nth-child(3) {
  filter: brightness(150%);
}

#skill .skills article h3 {
  color: var(--color-accent);
  font-size: 1.5rem;
}

#skill .skills article li {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

#skill .skills article:first-child li {
  padding: 1.5rem 0;
}

#skill .skills article:not(:first-child) li {
  padding: 0.8rem 0;
}

#skill .skills article li div:first-child {
  display: flex;
  justify-content: space-between;
}

#skill .skills article li div:last-child {
  width: 100%;
  height: 3px;
  background-color: var(--color-primary-variant);
}

#skill .skills article li div:last-child div {
  background-color: var(--color-accent);
}
