:root {
  /* app colors */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-orange);
  --color-text: var(--color-white);

  /* colors */
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Dongle', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  font-family: inherit;
  background-color: transparent;
  outline: none;
  border: none;
}

button:hover {
  outline: 1px solid var(--color-accent);
}

/* Header */
header {
  background-color: var(--color-primary);
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

/* if performance is considered, use 'header__logo' */
header .logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

header .logo img {
  width: 36px;
  height: 36px;
}

header .logo h1 {
  font-size: 1.8rem;
}

header nav .menu {
  display: flex;
  gap: 24px;
}

header nav .menu li:hover {
  border-bottom: 1px solid var(--color-accent);
}

header nav .menu li.active {
  border-bottom: 1px solid var(--color-accent);
}
