// https://necolas.github.io/normalize.css/8.0.1/normalize.css

// 모든 브라우저에서 줄 높이 수정 및 iOS에서 방향 변경 후 글꼴 크기 조정 방지
html {
  line-height: 1.15; // 1
  -webkit-text-size-adjust: 100%; // 2
}

body {
  margin: 0;
}

// IE에서 `main` 요소를 일관되게 렌더링
main {
  display: block;
}

// Chrome, Firefox 및 Safari의 `section` 및 `article` 컨텍스트 내 `h1` 요소의 글꼴 크기와 여백 수정
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

// Firefox에서 상자 크기 올바르게 추가 및 Edge 및 IE에서 오버플로 표시
hr {
  box-sizing: content-box; // 1
  height: 0; // 1
  overflow: visible; // 2
}

// 모든 브라우저에서 글꼴 크기의 상속 및 배율 수정 및 이상한 'em' 글꼴 크기 수정
pre {
  font-family: monospace, monospace; // 1
  font-size: 1em; // 2
}

// IE 10의 활성 링크에서 회색 배경 제거

a {
  background-color: transparent;
}

// Chrome 57에서 하단 테두리 제거- 및 Chrome, Edge, IE, Opera 및 Safari에 올바른 텍스트 장식 추가
abbr[title] {
  border-bottom: 0; // 1
  text-decoration: underline; // 2
}

// Chrome, Edge 및 Safari에서 올바른 글꼴 두께 추가
b,
strong {
  font-weight: bolder;
}

// 모든 브라우저에서 글꼴 크기의 상속 및 배율 수정 및 이상한 'em' 글꼴 크기 수정
code,
kbd,
samp {
  font-family: monospace, monospace; // 1
  font-size: 1em; // 2
}

// 모든 브라우저에 올바른 글꼴 크기 추가
small {
  font-size: 80%;
}

// 'sub' 및 'sup' 요소가 모든 브라우저의 줄 높이에 영향을 미치지 않도록 수정
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

// IE 10에서 링크 내부 이미지의 테두리 제거
img {
  border-style: none;
}

// 모든 브라우저에서 글꼴 스타일 변경 및 Firefox 및 Safari에서 여백 제거
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; // 1
  font-size: 100%; // 1
  line-height: 1.15; // 1
  margin: 0; // 2
}

// IE 또는 Edge에 오버플로 표시
button,
input {
  // 1
  overflow: visible;
}

// Edge, Firefox 및 IE에서 텍스트 변환 상속 제거
button,
select {
  // 1
  text-transform: none;
}

// iOS 및 Safari에서 클릭 가능한 유형의 스타일을 지정할 수 없는 문제 수정
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

// Firefox에서 내부 테두리와 패딩 제거
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

// 이전 규칙에 의해 설정되지 않은 포커스 스타일 복원
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

//Firefox에서 패딩 수정

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

// Edge 및 IE에서 텍스트 줄 바꿈 수정 및 IE의 `fieldset` 요소에서 색상 상속 수정
// 개발자가 모든 브라우저에서 `fieldset` 요소를 0으로 처리할 때 발견되지 않도록 패딩 제거
legend {
  box-sizing: border-box; // 1
  color: inherit; // 2
  display: table; // 1
  max-width: 100%; // 1
  padding: 0; // 3
  white-space: normal; // 1
}

// Chrome, Firefox, Opera에 올바른 수직 정렬 추가
progress {
  vertical-align: baseline;
}

// IE 10에서 기본 세로 스크롤 막대 제거
textarea {
  overflow: auto;
}

// IE 10에서 올바른 상자 크기 추가 및 패딩 제거
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box; // 1
  padding: 0; // 2
}

// Chrome에서 증가 및 감소 버튼의 커서 스타일 수정
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

// Chrome 및 Safari에서 이상한 모양 수정
// Safari에서 개요 스타일을 수정
[type='search'] {
  -webkit-appearance: textfield; // 1
  outline-offset: -2px; // 2
}

// macOS의 Chrome 및 Safari에서 내부 패딩 제거
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

// iOS 및 Safari에서 클릭 가능한 유형의 스타일을 지정할 수 없는 문제 수정
// Safari에서 글꼴 속성을 `inherit`로 변경
::-webkit-file-upload-button {
  -webkit-appearance: button; // 1
  font: inherit; // 2
}

// Edge, IE 10 및 Firefox에 올바른 디스플레이 추가
details {
  display: block;
}

// 모든 브라우저에 올바른 디스플레이 추가
summary {
  display: list-item;
}

// IE 10에 올바른 디스플레이 추가
template {
  display: none;
}

// IE 10에 올바른 디스플레이 추가
[hidden] {
  display: none;
}
